<div id="function-tabs" ng-switch="tabIndex">
    <div id="chat-tab" ng-switch-when="1"></div>
    <div id="friend-tab" class="tab" ng-switch-when="2">
        <div class="layout-padding" layout>
            <span class="fa fa-search"></span>
            <input type="text" placeholder="@Resources.SearchByName" class="custom-input" ng-model="search.alias" />
        </div>
        <md-content class="below-search-box">
            <md-list id="friend-list">
                <md-list-item>
                    <small class="text-muted">@Resources.Friend {{count(friends)}}</small>
                </md-list-item>
                <md-list-item ng-class="{'bg-info':current.id === friend.id}"
                              ng-click="setCurrent(friend)"
                              ng-repeat="(key, friend) in friends | custom:search">
                    <img ng-src="{{friend.thumbnail}}" src="~/Img/portrait.png" class="img-circle portrait-md" />
                    <p ng-bind="friend.alias"></p>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
    <div id="group-tab" class="tab" ng-switch-when="3" ng-controller="groupController">
        <div class="layout-padding" layout>
            <span class="fa fa-search"></span>
            <input type="text" placeholder="@Resources.SearchByName" class="custom-input" ng-model="search.name" />
        </div>
        <md-content class="below-search-box">
            <md-list id="group-list">
                <md-list-item>
                    <small class="text-muted">@Resources.Group {{count(groups)}}</small>
                    <md-button class="md-icon-button md-secondary" ng-click="showCreateGroupDialog($event)" title="建立群組" aria-label="createGroup">
                        <span class="fa fa-plus"></span>
                    </md-button>
                </md-list-item>
                <md-list-item ng-class="{'bg-info':current.id === group.id}"
                              ng-click="setCurrent(group)"
                              ng-repeat="(key, group) in groups | custom:search">
                    <img ng-src="{{group.thumbnail}}" src="~/Img/portrait.png" class="img-circle portrait-md" />
                    <p ng-bind="group.name"></p>
                </md-list-item>
            </md-list>
            @*<ul id="group-list" class="nav nav-pills nav-stacked tab-height">
                    <li ng-class="{'active': current.id === group.id}" ng-click="setCurrent(group)" ng-repeat="(key, group) in groups | custom:search">
                        <a href="javascript:;" ng-bind="group.name"></a>
                    </li>
                </ul>*@
        </md-content>
    </div>
    <div id="add-friend-tab" class="tab" ng-switch-when="4" ng-controller="addFriendController">
        <div class="layout-padding" layout>
            <span class="fa fa-search"></span>
            <input type="text"
                   placeholder="@Resources.SearchByName"
                   ng-model="user.input"
                   class="custom-input"
                   ng-keydown="$event.which === 13 && searchUser()" />
        </div>
        <div>
            <md-list-item class="text-muted">@Resources.UserName @User.Identity.Name</md-list-item>
            <div class="text-center">
                <div ng-if="user.status === 1">
                    <img ng-src="{{user.found.thumbnail}}" src="~/Img/portrait.png" class="img-circle portrait-lg" />
                    <p><strong ng-bind="user.found.alias"></strong></p>
                    <p ng-bind="user.found.description"></p>
                    <span ng-if="user.found.isFriend">
                        <span ng-bind="user.found.alias"></span> @Resources.AlreadyYourFriend
                    </span>
                    <p ng-if="user.found.userName === '@User.Identity.Name'">@Resources.Yourself</p>
                    <div class="form-inline">
                        <div class="input-group">
                            <button class="btn btn-default" ng-click="endAddFriend()">@Resources.Cancel</button>&nbsp;
                            <button class="btn btn-success"
                                    ng-disabled="user.found.isFriend || user.found.userName === '@User.Identity.Name'"
                                    ng-click="addFriend()">
                                @Resources.Add
                            </button>
                        </div>
                    </div>
                </div>
                <div ng-if="user.status === 0">
                    <p>@Resources.CannotFindUser</p>
                    <button class="btn btn-success" ng-click="endAddFriend()">@Resources.Confirm</button>
                </div>
            </div>
        </div>
    </div>
</div>
