@{
    Layout = "~/Areas/Admin/Views/Shared/_ToolbarLayout.cshtml";
}
<div class="row workarea"
     style="height: calc(100vh - 114px);"
     ng-cloak>
    <div class="">
        <div id="sidebar" ng-if="!isPhone">
            @Html.Partial("_Sidebar")
        </div>
        <!--聊天內容區塊-->
        <md-content>
            <div layout>
                <md-button ng-if="current" ng-click="showDetail('right')" class="h4 no-padding-margin text-left-important" flex="100">
                    <img ng-src="{{current.thumbnail}}" src="~/Img/portrait.png" class="img-circle portrait-xs" />
                    <b ng-if="current.alias" class="text">{{current.alias}}</b>
                    <b ng-if="current.name">{{current.name}} ({{current.members.length}})</b>
                </md-button>
            </div>
            <md-content class="dialog" ng-show="current.id == key" ng-repeat="(key, chat) in chats">
                <div ng-if="isloading" layout layout-align="center center" style="height:100%;width:100%">
                    <md-progress-circular md-mode="indeterminate" md-diameter="200">
                    </md-progress-circular>
                </div>
                <ul class="list-unstyled">
                    <li ng-repeat="c in chat track by $index">
                        <div ng-switch="$index == 0 || !isSameDay(chat[$index - 1].date, c.date)">
                            <!--顯示日期-->
                            <div ng-switch-when="true" class="text-center" layout-padding>
                                <span class="bg-info" ng-bind="toLocaleDateString(c.date)"></span>
                            </div>
                            <!--顯示對話-->
                            <div>
                                <div layout ng-class="{'pull-right':isSender(c)}">
                                    <div class="sender-date text-muted" ng-if="isSender(c)" layout="column" layout-align="center end">
                                        <span class="small" ng-if="key > 0 && friends[key].readTime > c.date">已讀</span>
                                        <span class="small" ng-if="key < 0 && calcReadCount(key, c.date)">已讀 1</span>
                                        <span class="small" ng-bind="::c.date | date:'hh:mm:ss':'utc +08:00'"></span>
                                    </div>
                                    <div ng-if="!isSender(c) && key <= 0" layout="column">
                                        <img ng-src="{{users[c.senderId.toString()].thumnail}}" src="~/Img/portrait.png" class="img-circle portrait-xs" ng-click="showDetail('right', c.senderId)" />
                                        <p class="center-block" ng-bind="users[c.senderId.toString()].alias"></p>
                                    </div>
                                    <div>
                                        <div class="chat-bubble tri-right round"
                                             ng-class="{'right-in bg-sender':isSender(c), 'left-in bg-receiver':!isSender(c)}">
                                            <div class="chat-content">
                                                <p ng-bind="::c.content" style="vertical-align:central"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="receiver-date text-muted" ng-if="!isSender(c)" layout layout-align="start center">
                                        <span class="small" ng-bind="::c.date | date:'hh:mm:ss':'utc +08:00'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                </ul>
            </md-content>
            @Html.Partial("_Detail")
        </md-content>
        <!--Bottom Navbar-->
        <nav id="bottom-sidebar" class="navbar navbar-fixed-bottom">
            <div class="container">
                <div class="workarea row" layout>
                    <!--功能按鈕列-->
                    <div class="tab" flex="none">
                        <div class="col-xs-3">
                            <md-button class="md-icon-button" ng-disabled="true" ng-click="setTabIndex(-1)" ng-class="{ 'md-primary': isCurrentTab(1) }">
                                <span class="fa fa-comment-o fa-2x"></span>
                            </md-button>
                        </div>
                        <div class="col-xs-3">
                            <md-button class="md-icon-button" ng-click="setTabIndex(2)" ng-class="{ 'md-primary': isCurrentTab(2) }">
                                <span class="fa fa-user fa-2x"></span>
                            </md-button>
                        </div>
                        <div class="col-xs-3">
                            <md-button class="md-icon-button" ng-click="setTabIndex(3)" ng-class="{ 'md-primary': isCurrentTab(3) }">
                                <span class="fa fa-users fa-2x"></span>
                            </md-button>
                        </div>
                        <div class="col-xs-3">
                            <md-button class="md-icon-button" ng-click="setTabIndex(4)" ng-class="{ 'md-primary': isCurrentTab(4) }">
                                <span class="fa fa-user-plus fa-2x"></span>
                            </md-button>
                        </div>
                    </div>
                    <!--輸入區塊-->
                    <div layout flex="auto" ng-controller="chatController">
                        <input class="custom-input"
                               ng-disabled="!current"
                               ng-model="current.input"
                               ng-keydown="$event.which === 13 && sendDialog()"
                               placeholder=@Resources.PleaseInputMessage
                               flex="auto" />
                        <md-button class="md-icon-button" style="margin-left: -5px; margin-right: -5px">
                            <span class="fa fa-smile-o fa-lg"></span>
                        </md-button>
                        <md-button class="md-icon-button" style="margin-left: -5px; margin-right: -5px">
                            <span class="fa fa-paperclip fa-lg">
                            </span>
                        </md-button>
                    </div>
                </div>
            </div>
        </nav>
        <div id="sidebar" ng-if="isPhone">
            @Html.Partial("_Sidebar")
        </div>
    </div>
</div>
<!--Loading Modal-->
<div id="loading-modal" class="modal fade" layout layout-align="center center">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="text-center">讀取中...</p>
                <md-progress-linear mode="indeterminate"></md-progress-linear>
            </div>
        </div>
    </div>
</div>
@section style{
    @Styles.Render("~/Content/angular")
}
@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#loading-modal').modal({
                backdrop: 'static'
            });
        })
    </script>
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/signalR")
    <script type="text/ng-template" id="createGroupView">
        @Html.Partial("_CreateGroup")
    </script>
}
