<!DOCTYPE html>
<html ng-app="iTalkApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - iTalk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("style", false)
</head>
<body class="body-content">
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", false)
    @RenderSection("desktop", false)
</body>
</html>