<!DOCTYPE html>
<html ng-app="iTalkApp">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    @*<base href="@Request.Url.GetLeftPart(UriPartial.Authority)" />*@
    @Styles.Render("~/Content/jquerymobile/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Mobile/css")
    @RenderSection("style", false)
</head>
<body>
    <div data-role="page" data-theme="a">
        @RenderBody()

        <script type="text/javascript" src="/Constants"></script>
        @Scripts.Render("~/bundles/jquery", "~/bundles/jquerymobile")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/angular")

        <script>
            $(document).ready(function () {
                //$(document).on('mobileinit', function () {
                $.mobile.ajaxEnabled = false;
                $.mobile.ignoreContentEnabled = true;
                //$.mobile.ajaxLinksEnabled = false;
            });
        </script>

        @RenderSection("scripts", false)
        @RenderSection("featured", false)
    </div>
    @*<nav class="navbar navbar-fixed-bottom">
            @Html.Partial("_ViewSwitcher")
        </nav>*@
</body>
</html>