@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div ng-controller="mainController" ng-cloak>
    <nav id="toolbar" class="navbar navbar-inverse navbar-fixed-top" data-role="header" data-enhance="false">
        <div class="container">
            <div class="navbar-header">
                @if (User.Identity.IsAuthenticated) {
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" data-role="none" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                }
                <a href="/Admin/Home/Index" class="navbar-brand" data-role="none">
                    <b>@Resources.iTalk</b>
                </a>
            </div>
            @if (User.Identity.IsAuthenticated) {
                <div class="collapse navbar-collapse" ng-init="initUser('@this.User.Identity.Name')">
                    <ul class="nav navbar-nav navbar-right">
                        @Html.Partial("_ViewSwitcher")
                        <li>
                            <a href="javascript:;" title="基本設定" ng-click="showBasicSettingDialog($event)" ng-show="me">
                                <img thumbnail="me.thumbnail" class="img-circle portrait-xs" />
                                <span ng-bind="me.alias"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logOffForm').submit()" onclick="logout()">
                                @Resources.Logout
                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logOffForm" })) {
                                    @Html.AntiForgeryToken()
                                }
                            </a>
                        </li>
                    </ul>
                </div>
            }
            @*@Html.ActionLink("所有使用者", "Index", "Account", new { area = "admin" }, new { @class = "navbar-brand" })*@
        </div>
    </nav>
    <div class="container" data-role="content" data-enhance="false">
        @RenderBody()
    </div>
    @if (User.Identity.IsAuthenticated) {

    }
</div>
@section style{
    @Styles.Render("~/Content/angular")
    @RenderSection("style", false)
}
@section scripts{
    <script src="~/js/mainController.js"></script>
    @if (User.Identity.IsAuthenticated) {
        <script type="text/ng-template" id="basicSetting">
            @Html.Partial("_BasicSetting")
        </script>
    }
    @RenderSection("scripts", false)
}
@if (IsSectionDefined("desktop")) {
    @section desktop{
        @RenderSection("desktop", false)
    }
}
@if (IsSectionDefined("featured")) {
    @section featured{
        @RenderSection("featured", false)
    }
}
