@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div ng-controller="mainController" ng-cloak>
    <nav id="toolbar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @if (User.Identity.IsAuthenticated) {
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                        <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <a href="/Admin/Home/Index" class="navbar-brand">
                        <b>@Resources.iTalk</b>
                    </a>
                }
            </div>
            @if (User.Identity.IsAuthenticated) {
                <div class="collapse navbar-collapse" ng-init="initUser(@this.User.Identity.Name)">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#setting-modal">基本設定</a>
                        </li>
                        <li>
                            <a href="javascript:document.getElementById('logOffForm').submit()" onclick="logout()">
                                @Resources.Logout [{{me.alias}}]
                                @using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logOffForm" })) {
                                    @Html.AntiForgeryToken()
                                }
                            </a>
                        </li>
                    </ul>
                </div>
            }
            @*@Html.ActionLink("所有使用者", "Index", "Account", new { area = "admin" }, new { @class = "navbar-brand" })*@
        </div>
    </nav>
    <div class="container">
        @RenderBody()
    </div>
    @if (User.Identity.IsAuthenticated) {
        <div id="setting-modal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4><b>基本設定</b></h4>
                    </div>
                    <div class="modal-body">
                        <div layout layout-padding layout-align="start center">
                            <div layout="column">
                                <img thumbnail="me.thumbnail" class="img-circle portrait-lg" />
                            </div>
                            @*<table class="">
                                    <tr>
                                        <td>@Resources.Name</td>
                                        <td><input class="form-control" ng-model=" me.alias" /></td>
                                    </tr>
                                    <tr>
                                        <td>@Resources.PersonalSign</td>
                                        <td><input class="form-control" ng-model=" me.persionalsign" placeholder="尚未設定" /></td>
                                    </tr>
                                    <tr>
                                        <td>ID</td>
                                        <td><input class="form-control" ng-model=" me.username" /></td>
                                    </tr>
                                </table>*@
                            <div class="form-horizontal">
                                <div class="form-group" layout layout-margin>
                                    <label class="control-label" flex="none">@Resources.Name    </label>
                                    <div class="" flex>
                                        <input class="form-control input-sm" ng-model="me.alias" />
                                    </div>
                                </div>
                                <div class="form-group" layout layout-margin>
                                    <label class="control-label" flex="none">@Resources.PersonalSign</label>
                                    <div class="" flex>
                                        <input class="form-control input-sm" ng-model="me.personalSign" placeholder="尚未設定" />
                                    </div>
                                </div>
                                <div class="form-group" layout layout-margin>
                                    <label class="control-label" flex="none">ID</label>
                                    <div class="" flex>
                                        <p class="input-sm text-muted" ng-bind="me.userName"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" layout-margin>
                            <label>語言設定</label>
                            <select disabled>
                                <option>繁體中文</option>
                            </select>
                        </div>
                        <div class="form-group" layout-margin>
                            <label>字體大小</label>
                            <select disabled>
                                <option>大</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" data-dismiss="modal">@Resources.Cancel</button>
                        <button class="btn btn-primary">儲存</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section style{
    @RenderSection("style", false)
}

@section scripts{
    <script src="~/js/mainController.js"></script>
    @RenderSection("scripts", false)
}

@if (IsSectionDefined("desktop")) {
    @section desktop{
        @RenderSection("desktop", false)
    }
}

@if (IsSectionDefined("featured")) {
    @section featured{
        @RenderSection("featured", false)
    }
}
