@model iTalk.API.Models.AccountViewModel

<div>
    <div class="form-group">
        <div class="inline-block">
            <h4 class="">@Resources.Login</h4>
        </div>
    </div>
    @Html.ValidationMessage("", null, new { @class = "text-danger" })
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = @Resources.UserName, id = "username" })
    </div>
    <div class="form-group">
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Password, id = "password" })
    </div>
    <div class="form-group">
        <input type="submit" value=@Resources.Login class="btn btn-primary" />
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $("input[type='submit']").click(function() {
            var loginData = {
                grant_type: "password",
                username: $("#username").val(),
                password: $("#password").val()
            };

            $.ajax({
                type: "POST",
                url: "/Token",
                data: loginData
            })
            .success(function () {
                window.location.href = "@ViewBag.ReturnUrl";
            })
            .fail(function (err) {
                alert(err.responseText);
            });
        });
    </script>
}