@model iTalk.API.Models.AccountViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_ToolbarLayout.cshtml";
}

<form method="post" action="/Admin/Account/Login?returnUrl=@ViewBag.ReturnUrl">
    <div class="form-group">
        <div class="inline-block">
            <h4 class="">@Resources.Login</h4>
        </div>
    </div>
    @Html.ValidationMessage("", null, new { @class = "text-danger" })
    @Html.AntiForgeryToken()
    <div class="form-group">
        @*@Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })*@
        @*@Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = @Resources.UserName, id = "username" })*@
        <input name="UserName" class="form-control" placeholder=@Resources.UserName autofocus />
    </div>
    <div class="form-group">
        @*@Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })*@
        @*@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Resources.Password, id = "password" })*@
        <input name="Password" class="form-control" placeholder=@Resources.Password type="password" />
    </div>
    <div class="form-group">
        <input type="submit" value=@Resources.Login class="btn btn-primary" />
    </div>
</form>
<div>
    <span>
        @Resources.DonotHaveAccount
        <a href="/Admin/Account/Register?ReturnUrl=/Admin/Account/Register">@Resources.RegisterNow</a>
    </span>
</div>
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")

    @*<script type="text/javascript">
            $('form').submit(function (e) {
                e.preventDefault();

                if (!$('form').validate()) {
                    return;
                }

                $('.data-valmsg-for').text('');
                var loginData = $(this).serialize();

                $.ajax({
                    type: "POST",
                    url: "/Token",
                    data: loginData
                })
                .success(function () {
                    window.location.href = "@ViewBag.ReturnUrl";
                })
                .fail(function (xhr, status, error) {
                    $("[data-valmsg-for='']").text(xhr.responseJSON.error_description);
                });
            });
        </script>*@
}