@model iTalk.API.Areas.Admin.Models.RegisterViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_ToolbarLayout.cshtml";
}
<h3>@Resources.CreateAccount</h3>
<form id="register-form" method="post" action="/Admin/Account/Register" enctype="multipart/form-data">
    @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
    <div class="form-group">
        <label>@Resources.UserName</label>
        @Html.TextBoxFor(m => m.UserName, new {
           @class = "form-control",
           data_toggle = "popover",
           data_placement = "right",
           data_content = @Resources.UserNameTooltip,
           autofocus = true
       })
        @Html.ValidationMessage("", null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>@Resources.Password</label>
        @Html.PasswordFor(m => m.Password, new {
           @class = "form-control",
           data_toggle = "popover",
           data_placement = "right",
           data_content = @Resources.Password + @Resources.UserNameOrPasswordFormatError
       })
        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>@Resources.PasswordConfirm</label>
        @Html.PasswordFor(m => m.PasswordConfirm, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PasswordConfirm, null, new { @class = "text-danger" })
    </div>
    <h4>@Resources.OptionalItem:</h4>
    <div class="form-group">
        <label>@Resources.Alias</label>
        @Html.TextBoxFor(m => m.Alias, new {
           @class = "form-control",
           data_toggle = "popover",
           data_content = @Resources.AliasTooltip
       })
        @Html.ValidationMessageFor(m => m.Alias, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>@Resources.PersonalSign</label>
        @Html.TextBoxFor(m => m.PersonalSign, new {
           @class = "form-control",
       })
        @Html.ValidationMessageFor(m => m.PersonalSign, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <label>個人圖片</label>
        @Html.Partial("_ImageEditor")
    </div>
    <br />
    @Html.AntiForgeryToken()
    <div class="form-group">
        <button type="submit" class="btn btn-primary">@Resources.CreateAccount</button>
    </div>
</form>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval")

    @*<script src="~/js/imageEditorController.js"></script>*@
    <script type="text/javascript">
        $('[data-toggle="popover"]').popover({ trigger: 'focus' });
    </script>
}
